html, body {
	width: 100%;
	height: 100%;
}

/* barinfo css */

#top {
	height: 100%;
}

.content {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 86%;
	margin-top: 15px;
	font-family: 'Lato', sans-serif;
	color: rgba(20,20,20,0.9);
	text-transform: uppercase;
}

.bar-info {
	overflow: hidden;
	color: #999;
	max-height: 120px;
}

.bar-info .title {
	font-size: 3em;
}

.bar-info .photo {
	float: right;
	width: 30%;
}

.bar-info .photo img {
	margin-right: 20px;
	width: 80px;
	height: 80px;
	min-height: 130px;
	background-color: rgba(0,0,0,0.2);
}

.bar-info .details {
	float: left;
	width: 70%;
	font-size: .7em;
}

.ratings {
	width: 100%;
	margin-top: 14px;
	overflow: auto;
}

.rating {
	height: 70px;
	margin-bottom: 8px;
	border-radius: 4px;
	border: 2px solid #eee;
	background-color: rgba(255,255,255,0.7);

	font-size: 20px;
	text-align: center;
	line-height: 70px;

	position: relative;
}

.rating .stat-bar {
	width: 50%;
	height: 100%;
}

.rating .description {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.green-bg {
	background-color: rgba(40,180,141,0.7);
}

.pink-bg {
	background-color: pink;
}

.blue-bg {
	background-color: blue;
}

.edit .rating {
	border: 2px dotted #666;
}

.clearfix {
	clear: both;
}

button.save, button.checkin {
	margin-top: 15px;
	height: 50px;
	width: 50%;
	background-color: rgba(20,196,79,1);
	opacity: 0.;
	color: white;
	border-radius: 2px;
	border: none;
}

button.save {
	background-color: rgba(0,151,252,1);
}

/* Rating.HTML */
span.description {
	position: relative;
	overflow: auto;
}

.rate-text {
	font-size: 11px;
	color: #333;
	margin-top: 15px;
}

.left-rate-text {
	position: absolute;
	left: 5px;
}

.icon {
	position: absolute;
	top: 5px;
	left: 5px;
	height: 50px;
	width: 50px;
	opacity: 0.2;
}

.money-icon {
	background: url('../img/moneyicon.png');
	background-size: 50px 50px;
}

.music-icon {
	background: url('../img/musicicon.png');
	background-size: 50px 50px;
}

.right-rate-text {
	right: 5px;
	position: absolute;
}

span.bigstars {
	margin-top: 10px;
}

span.bigstars span.rateit-range {
	background: url('../img/star-filled-silver-44.png');
	height: 44px;
}
span.bigstars span.rateit-hover {
	background: url('../img/star-hover44.png');
}
span.bigstars span.rateit-selected {
	background: url('../img/star-hover44.png');

}
span.bigstars button.rateit-reset {visibility: hidden;}
span.bigstars span.rateit-reset:hover {}

/* Vybers */
#vybers {
	float: right;
}

